In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
import pickle

In [2]:
train=pd.read_csv("train_cln.csv")
test=pd.read_csv("test_cln.csv")

In [8]:
train.select_dtypes(['int','float']).keys()

Index(['Unnamed: 0', 'Location_encoded', 'Year', 'Kilometers_Driven',
       'fuel_encoded', 'Transmission_encoder', 'Owner_Type_Encoding',
       'Mileage', 'Engine', 'Power', 'Seats', 'New_Price', 'Price'],
      dtype='object')

In [9]:
test.select_dtypes(['int','float']).keys()

Index(['Unnamed: 0', 'Location_encoded', 'Year', 'Kilometers_Driven',
       'fuel_encoded', 'Transmission_encoder', 'Owner_Type_Encoding',
       'Mileage', 'Engine', 'Power', 'Seats', 'New_Price'],
      dtype='object')

In [10]:
x=train[['Location_encoded', 'Year', 'Kilometers_Driven',
       'fuel_encoded', 'Transmission_encoder', 'Owner_Type_Encoding',
       'Mileage', 'Engine', 'Power', 'Seats','New_Price']]

In [11]:
y=train[['Price']]

In [12]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=2,random_state=1)

In [13]:
from sklearn.tree import DecisionTreeRegressor
clf=DecisionTreeRegressor(random_state=0)#algorithm import kiya

In [14]:
clf.fit(x_train,y_train) #datasset jo split kiya tha usse fit kiyaa hau algorithm me

DecisionTreeRegressor(random_state=0)

In [15]:
y_pred=clf.predict(x_test) #ye prediction hai

In [16]:
from sklearn.metrics import r2_score #ye accuracy verify krne ke lie ye technique hai

In [17]:
r2_score(y_test,y_pred)

0.96571784833751

In [18]:
filename="model.sav"
pickle.dump(clf,open(filename,'wb'))

In [19]:
with open("car.pkl","wb+") as f:
    pickle.dump(clf,f)

In [62]:
test=[[2,2011,46000,2,1,0,18,1199,89,5,9]]
temp={}
temp['location']=2
temp['year']=2014
temp['Kl']=32982
temp['fule_type']=1
temp['transmission']=0
temp['owner']=0
temp['Mileage']=23
temp['Engine']=1995
temp['Power']=190
temp['Seats']=5
temp['New_Price']=47.87
testdata=pd.DataFrame({'x':temp}).transpose()
clf.predict(test)[0]

4.5

In [63]:
temp

{'location': 2,
 'year': 2014,
 'Kl': 32982,
 'fule_type': 1,
 'transmission': 0,
 'owner': 0,
 'Mileage': 23,
 'Engine': 1995,
 'Power': 190,
 'Seats': 5,
 'New_Price': 47.87}

In [64]:
test=[]
for i,j in temp.items():
    print(j)
    test.append(j)

2
2014
32982
1
0
0
23
1995
190
5
47.87

In [66]:
print(test)
test=[test]
print(test)

[2, 2014, 32982, 1, 0, 0, 23, 1995, 190, 5, 47.87]
[[2, 2014, 32982, 1, 0, 0, 23, 1995, 190, 5, 47.87]]

In [67]:
clf.predict(test)

array([22.])

In [4]:
train.head(5)

,Unnamed: 0,Name,Location,Location_encoded,Year,Kilometers_Driven,Fuel_Type,fuel_encoded,Transmission,Transmission_encoder,Owner_Type,Owner_Type_Encoding,Mileage,Engine,Power,Seats,New_Price,Price
0,2,Honda Jazz V,Chennai,2,2011,46000,Petrol,2,Manual,1,First,0,18.20,1199.0,88.70,5.0,8.61,4.50
1,7,Toyota Innova Crysta 2.8 GX AT 8S,Mumbai,9,2016,36000,Diesel,1,Automatic,0,First,0,11.36,2755.0,171.50,8.0,21.00,17.50
2,10,Maruti Ciaz Zeta,Kochi,7,2018,25692,Petrol,2,Manual,1,First,0,21.56,1462.0,103.25,5.0,10.65,9.95
3,15,Mitsubishi Pajero Sport 4X4,Delhi,4,2014,110000,Diesel,1,Manual,1,First,0,13.50,2477.0,175.56,7.0,32.01,15.00
4,20,BMW 3 Series 320d,Kochi,7,2014,32982,Diesel,1,Automatic,0,First,0,22.69,1995.0,190.00,5.0,47.87,18.55